<div class="auth">
	<h1 class="header">Восстановление пароля</h1>

	<form [formGroup]="formGroup" (ngSubmit)="formGroup.valid && onSubmit()">
		<div class="form-group">
			<input
				class="input-text"
				type="email"
				placeholder="Почта"
				formControlName="email"
				[class.invalid]="email.invalid && email.touched"
			/>
			<p *ngIf="email.errors?.minlength && email.touched" class="text-warning">
				Почта не должна быть короче 3 символов
			</p>
			<p *ngIf="email.errors?.email && email.touched" class="text-warning">
				Некорректная запись почты
			</p>
		</div>
		<div class="success" *ngIf="isSubmitted">
			<p>
				Сообщение отправлено на электронную почту
			</p>
		</div>

		<!-- spinner -->
		<div class="lds-spinner" *ngIf="isSpinning">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>

		<div class="warning" *ngIf="isFailed">
			<p class="text-warning">
				Электронная почта не существует
			</p>
		</div>
		<button type="submit" class="btn-block" [disabled]="formGroup.invalid && formGroup.touched">
			Отправить
		</button>
	</form>
</div>
