@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap';
@import 'utilities/variables';
@import 'utilities/mixins';
@import 'base/global';
@import 'base/material';
@import 'templates/auth';
@import 'templates/quiz';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	background: #f9f9f9;
	color: $darkColor;
}

a {
	text-decoration: none;
}

button,
a {
	cursor: pointer;
}

button,
a,
input,
textarea {
	outline: none;
}

ul {
	list-style: none;
}

p {
	word-wrap: break-word;
	white-space: pre-line;
}
