// global styles

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	background: #ededed;
	color: #252525;
}

main {
	padding-left: 0;
	transition: all 0.3s linear;

	&.slide {
		padding-left: 250px;
	}
}

a {
	text-decoration: none;
}

button,
a {
	cursor: pointer;
}

button,
a,
input,
textarea {
	outline: none;
}

ul {
	list-style: none;
}

p {
	word-wrap: break-word;
}

// wrappers

.section {
	margin: 30px 50px;

	@media screen and (max-width: 480px) {
		margin: 30px 30px;
	}
}

.header {
	color: #252525;
	font-size: 1.4rem;
	font-weight: 700;
	margin-bottom: 20px;
}

.wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.column-wrapper {
	display: flex;
	flex-direction: column;
}

.raw-wrapper {
	display: flex;
	align-items: flex-start;
	margin-right: 20px;
	margin-bottom: 20px;

	.btn-close {
		margin-top: 15px;
		margin-left: 10px;
	}

	@media screen and (max-width: 480px) {
		margin-right: 0;
	}
}

// form elements

.btn-close {
	cursor: pointer;
	color: #252525;

	&::selection {
		color: none;
		background: none;
	}
}

.btn-block {
	display: block;
	width: 200px;
	height: 44px;
	padding: 13px;
	font-size: 0.9rem;
	font-weight: 700;
	border: none;
	border-radius: 10px;
	background: #4f81e3;
	color: #fff;
	margin-bottom: 20px;
	transition: opacity 0.2s linear;

	&:hover {
		opacity: 0.8;
	}

	&:disabled {
		opacity: 0.4;
	}

	@media screen and (max-width: 480px) {
		width: 280px;
	}

	@media screen and (max-width: 320px) {
		width: 240px;
	}
}

.input-text {
	width: 100%;
	padding: 10px 12px;
	border: none;
	background: #f9f9f9;
	font-family: 'Roboto';
	font-size: 0.9rem;
	font-weight: 400;
	color: #252525;
	border-radius: 10px;
	height: 44px;
	transition: all 0.2s linear;

	&:focus {
		background: #f1f1f1;

		&::placeholder {
			color: #7d7d7d;
		}
	}
}

.textarea {
	width: 100%;
	padding: 10px 12px;
	border: none;
	background: #f9f9f9;
	font-family: 'Roboto';
	font-size: 0.9rem;
	font-weight: 400;
	color: #252525;
	border-radius: 10px;
	transition: all 0.2s linear;
	resize: none;

	&:focus {
		background: #f1f1f1;

		&::placeholder {
			color: #7d7d7d;
		}
	}
}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

	+ label {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 44px;
		padding: 13px;
		font-size: 0.9rem;
		font-weight: 700;
		border: none;
		border-radius: 10px;
		background: #e8e8e8;
		color: #303030;
		cursor: pointer;
		transition: opacity 0.2s linear;

		&:hover {
			opacity: 0.8;
		}

		mat-icon {
			margin-right: 10px;

			&::selection {
				color: none;
				background: none;
			}
		}
	}
}

.invalid {
	&::placeholder {
		color: #e84a3f;
	}
}

// other

.text {
	font-size: 0.9rem;
	color: #7d7d7d;
	font-weight: 400;
}

.text-warning {
	font-size: 0.9rem;
	color: #e84a3f;
	font-weight: 400;
}

.text-link {
	font-size: 15px;
	color: #252525;
}

.icon {
	margin-left: 10px;

	&::selection {
		color: none;
		background: none;
	}
}

.correct {
	color: #3ec75e;
}

.incorrect {
	color: #e84a3f;
}

.link {
	color: #4f81e3;
	transition: opacity 0.1s linear;

	&:hover {
		opacity: 0.8;
	}
}

// quiz

.quiz-mr {
	width: 880px;
	background: #fff;
	padding: 20px 30px 20px 30px;
	border-radius: 15px;

	h3 {
		font-size: 1rem;
		color: #252525;
		font-weight: 700;
		margin-bottom: 12px;
	}

	p {
		font-size: 15px;
		font-weight: 400;
		color: #7d7d7d;
		margin-bottom: 8px;

		span {
			color: #252525;
			font-weight: 500;
		}
	}

	button {
		margin-bottom: 0;
	}

	@media screen and (max-width: 1230px) {
		width: 100%;
	}

	@media screen and (max-width: 480px) {
		button {
			width: 100%;
		}
	}
}

.question-mr {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	p {
		font-size: 15px;
	}

	mat-icon {
		cursor: pointer;
		font-size: 1.3rem;
		color: #252525;

		&::selection {
			color: none;
			background: none;
		}
	}
}

.option-mr {
	display: flex;
	align-items: flex-start;
	margin-bottom: 8px;

	&:last-child {
		margin-bottom: 0;
	}

	p {
		font-size: 15px;
		color: #7d7d7d;
		margin-bottom: 0;

		span {
			font-weight: 500;
		}
	}
}

// modal window

.custom-dialog-container .mat-dialog-container {
	position: relative;
	padding: 15px 20px 20px 20px;
	border-radius: 15px;
	max-width: 500px;

	h3 {
		font-size: 1rem;
		color: #252525;
		font-weight: 700;
		margin-bottom: 12px;
		text-align: center;
	}

	form {
		input {
			margin-bottom: 10px;
		}

		textarea {
			margin-bottom: 5px;
		}

		label {
			margin-bottom: 10px;
		}

		button {
			width: 100%;
			margin-bottom: 0;
		}
	}

	.btn-close {
		position: absolute;
		top: 15px;
		right: 20px;

		@media screen and (max-width: 480px) {
			top: 10px;
			right: 0;
		}
	}

	@media screen and (max-width: 480px) {
		padding: 10px 15px 15px 15px;
	}
}

// radio

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
	opacity: 0 !important;
	background-color: #4f81e3 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color: #4f81e3 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color: #4f81e3 !important;
}

// auth

.auth {
	background: #fff;
	padding: 50px 30px 25px 30px;
	border-radius: 15px;
	width: 500px;
	margin: 100px auto;

	h1 {
		text-align: center;
	}

	button {
		width: 100%;
		margin-bottom: 0;
	}

	.text-link {
		text-align: center;
		margin-top: 15px;
	}

	@media screen and (max-width: 500px) {
		width: 90%;
	}
}

.form-group {
	margin-bottom: 15px;

	p {
		margin-left: 12px;
	}
}

.success {
	margin-bottom: 10px;

	p {
		margin-left: 12px;
		color: #252525;
	}
}

.warning {
	margin-bottom: 10px;

	p {
		margin-left: 12px;
	}
}
