<main-section>
	<section class="section">
		<h1 class="header">Статьи</h1>

		<button class="btn-block" *ngIf="authority === 'admin'" (click)="onAdd()">
			Добавить статью
		</button>

		<div
			class="wrapper"
			infiniteScroll
			[infiniteScrollDistance]="1"
			[infiniteScrollThrottle]="1000"
			[fromRoot]="true"
			[infiniteScrollContainer]="'body'"
			(scrolled)="onScroll()"
		>
			<div class="articles-wrapper" *ngFor="let article of scrollingArticles">
				<div class="articles" (click)="toArticle(article.id)">
					<h3 class="header-3">{{ article.title }}</h3>
					<div
						class="articles-content"
						[style.backgroundImage]="'url(' + imgUrl + article.imageName + ')'"
					>
						<div class="articles-content__overlay"></div>
						<p>{{ article.text }}</p>
					</div>
				</div>
				<mat-icon
					class="btn-close"
					title="Удалить"
					*ngIf="authority === 'admin'"
					(click)="deleteArticle(article)"
				>
					clear
				</mat-icon>
			</div>
		</div>

		<!-- spinner -->
		<spinner *ngIf="isSpinning"></spinner>
	</section>
</main-section>
