<h3 class="header-3">Изменить пароль</h3>

<form [formGroup]="formGroup" (ngSubmit)="formGroup.valid && onSubmit()">
	<!-- old -->
	<div class="form-group">
		<input
			class="input-text"
			type="password"
			placeholder="Старый пароль"
			formControlName="password"
			[class.invalid]="password.invalid && password.touched"
		/>
		<p *ngIf="password.errors?.minlength && password.touched" class="text-warning">
			Пароль не должен быть короче 6 символов
		</p>
	</div>

	<!-- new -->
	<div class="form-group">
		<input
			class="input-text"
			type="password"
			placeholder="Новый пароль"
			formControlName="newPassword"
			[class.invalid]="newPassword.invalid && newPassword.touched"
		/>
		<p *ngIf="newPassword.errors?.minlength && newPassword.touched" class="text-warning">
			Пароль не должен быть короче 6 символов
		</p>
	</div>

	<!-- confirm -->
	<div class="form-group">
		<input
			class="input-text"
			type="password"
			placeholder="Подтверждение пароля"
			formControlName="confirmNewPassword"
			[class.invalid]="confirmNewPassword.invalid && confirmNewPassword.touched"
		/>
		<p
			*ngIf="confirmNewPassword.errors?.mustMatch && confirmNewPassword.touched"
			class="text-warning"
		>
			Пароли должны совпадать
		</p>
	</div>

	<div class="warning">
		<p class="text-warning" *ngIf="submitFailed">
			Неправильный пароль
		</p>
	</div>

	<button type="submit" class="btn-block" [disabled]="formGroup.invalid && formGroup.touched">
		Добавить
	</button>
</form>

<mat-icon class="btn-close" title="Закрыть" (click)="onClose()">
	clear
</mat-icon>
