@import 'utilities/mixins';

.book {
	display: flex;
	justify-content: space-between;
	@include block;
	@include block-large;

	h3 {
		margin-bottom: 12px;
	}

	p {
		max-width: 540px;
		margin-bottom: 8px;

		&#descr {
			@include text;
			margin-bottom: 13px;
		}
	}

	button {
		margin-bottom: 0;
	}

	@media screen and (max-width: 1230px) {
		width: 100%;
	}

	@media screen and (max-width: 1030px) {
		flex-direction: column-reverse;

		h3 {
			margin-top: 15px;
			text-align: center;
		}

		p {
			min-width: 100%;
		}

		button {
			margin: 0 auto;
		}
	}

	@media screen and (max-width: 480px) {
		button {
			width: 100%;
		}
	}

	@media screen and (max-width: 320px) {
		min-width: 260px;
		padding: 15px 20px 15px 20px;
	}
}

.book__image {
	height: 340px;
	min-height: 340px;
	min-width: 226px;
	margin-left: 30px;
	@include background;

	@media screen and (max-width: 1030px) {
		max-height: 340px;
		max-width: 226px;
		margin: 0 auto;
	}

	@media screen and (max-width: 320px) {
		max-height: 240px;
		max-width: 160px;
	}
}
