<main-section>
	<section class="section" *ngIf="book">
		<h1 class="header">Библиотека: {{ book.name }}</h1>

		<div class="book">
			<!-- image -->
			<div class="book-form">
				<div
					class="book-form__image"
					[style.backgroundImage]="'url(' + imgUrl + book.imageName + ')'"
				></div>
				<button class="btn-block" (click)="downloadFile(book.fileName)">Загрузить</button>
			</div>

			<div class="book-description">
				<h3 class="header-3">{{ book.name }}</h3>
				<p class="paragraph"><span>Жанр:</span> {{ book.genre }}</p>
				<p class="paragraph"><span>Автор:</span> {{ book.author }}</p>
				<p>{{ book.description }}</p>
			</div>
		</div>
	</section>
</main-section>
