@import 'utilities/variables';
@import 'utilities/mixins';

div {
	width: 100%;
	padding: 15px 20px 20px 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #f1f1f1;
	@include block;

	h3 {
		display: block;
		margin-bottom: 15px;
		padding-bottom: 14px;
		font-size: 1.2rem;
		@include block-line;
	}

	p {
		@include text;
	}

	form {
		margin-top: 18px;

		input {
			margin-bottom: 15px;
		}

		button {
			width: 100%;
			margin-bottom: 0;
		}
	}
}

.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	color: $greyColor;
	font-weight: 400;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}

	b {
		font-weight: 500;
	}
}
