@import 'utilities/mixins';

button {
	@media screen and (max-width: 480px) {
		width: calc(100% - 52px);
	}
}

.quiz-l-wrapper {
	@include flexRow;

	mat-icon {
		margin-top: 15px;
		margin-left: 10px;
	}
}

.quiz-l {
	max-width: 880px;
	width: 100%;
	padding: 20px 30px 20px 30px;
	border: 1px solid #f1f1f1;
	@include block;

	h3 {
		margin-bottom: 12px;
	}

	p {
		margin-bottom: 10px;
		@include text;
	}

	@media screen and (max-width: 320px) {
		padding: 15px 20px 15px 20px;
	}
}

.quiz-l-actions {
	display: flex;
	align-items: center;

	button#test {
		margin-right: 20px;
		margin-bottom: 0;
	}

	button#management {
		background: #e8e8e8;
		color: #303030;
		margin-bottom: 0;
	}

	@media screen and (max-width: 480px) {
		flex-direction: column;

		button {
			width: 100%;

			&#test {
				margin-bottom: 15px;
				margin-right: 0;
			}
		}
	}
}
