<!-- sidebar -->
<app-sidebar></app-sidebar>

<main [class.slide]="shouldSlide">
	<!-- toolbar -->
	<app-toolbar></app-toolbar>

	<!-- content -->
	<section class="section">
		<h1 class="header">Тесты</h1>

		<button class="btn-block" *ngIf="authority === 'admin'" (click)="addQuiz()">
			Добавить тест
		</button>

		<div
			class="column-wrapper"
			infiniteScroll
			[infiniteScrollDistance]="1"
			[infiniteScrollThrottle]="1000"
			[fromRoot]="true"
			[infiniteScrollContainer]="'body'"
			(scrolled)="onScroll()"
		>
			<div class="raw-wrapper" *ngFor="let quiz of scrollingQuizzes">
				<div class="quiz-l">
					<h3>{{ quiz.name }}</h3>
					<p>{{ quiz.text }}</p>
					<p><span>Количество вопросов:</span> {{ quiz.questions.length }}</p>
					<div class="quiz-actions">
						<button
							id="test"
							(click)="toQuiz(quiz.id)"
							class="btn-block"
							*ngIf="quiz.questions.length"
						>
							Пройти тест
						</button>

						<button
							id="management"
							(click)="toQuizManagement(quiz.id)"
							*ngIf="authority === 'admin'"
							class="btn-block"
						>
							Управление
						</button>
					</div>
				</div>
				<mat-icon
					class="btn-close"
					title="Удалить"
					*ngIf="authority === 'admin'"
					(click)="deleteQuiz(quiz)"
				>
					clear
				</mat-icon>
			</div>
		</div>

		<!-- spinner -->
		<app-spinner *ngIf="isSpinning"></app-spinner>
	</section>
</main>
