<!-- sidebar -->
<app-sidebar></app-sidebar>

<main [class.slide]="shouldSlide">
	<!-- toolbar -->
	<app-toolbar></app-toolbar>

	<!-- content -->
	<section class="section">
		<h1 class="header">Библиотека</h1>

		<button class="btn-block" *ngIf="authority === 'admin'" (click)="onAdd()">
			Добавить книгу
		</button>

		<div
			class="wrapper"
			infiniteScroll
			[infiniteScrollDistance]="1"
			[infiniteScrollThrottle]="1000"
			[fromRoot]="true"
			[infiniteScrollContainer]="'body'"
			(scrolled)="onScroll()"
		>
			<div class="raw-wrapper" *ngFor="let book of scrollingBooks">
				<div class="book-l" (click)="toOneBook(book.id)">
					<h3>{{ book.name }}</h3>
					<div
						class="book-l-image"
						[style.backgroundImage]="'url(' + imgUrl + book.imageName + ')'"
					></div>
					<p><span>Жанр:</span> {{ book.genre }}</p>
					<p><span>Автор:</span> {{ book.author }}</p>
				</div>
				<mat-icon
					class="btn-close"
					title="Удалить"
					*ngIf="authority === 'admin'"
					(click)="deleteBook(book)"
				>
					clear
				</mat-icon>
			</div>
		</div>

		<!-- spinner -->
		<app-spinner *ngIf="isSpinning"></app-spinner>
	</section>
</main>
