@import 'utilities/mixins';

button {
	@media screen and (max-width: 480px) {
		width: calc(100% - 32px);
	}
}

.books-l-wrapper {
	flex: 0 0 calc(25% - 20px);
	height: 360px;
	@include flexRow;

	mat-icon {
		margin-top: 15px;
		margin-left: 10px;
	}

	@media screen and (max-width: 1460px) {
		flex: 0 0 calc(33.3333% - 20px);
	}

	@media screen and (max-width: 940px) {
		flex: 0 0 calc(50% - 20px);
	}

	@media screen and (max-width: 650px) {
		flex: 0 0 100%;
		height: 460px;
	}

	@media screen and (max-width: 340px) {
		height: 360px;
	}
}

.book-l {
	width: 100%;
	height: 100%;
	padding: 15px 8px 8px 10px;
	cursor: pointer;
	border: 1px solid #f1f1f1;
	@include block;

	&:hover {
		.book-l__image {
			transform: translateY(-7px);
		}
	}

	h3 {
		margin-bottom: 12px;
		text-align: center;
	}

	p {
		text-align: center;
		font-size: 0.9rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media screen and (max-width: 650px) {
		height: 460px;
		padding-bottom: 0;

		p {
			font-size: 15px;
		}
	}

	@media screen and (max-width: 340px) {
		height: 360px;

		p {
			font-size: 0.9rem;
		}
	}
}

.book-l__image {
	height: 240px;
	width: 160px;
	margin: 0 auto;
	margin-bottom: 10px;
	transition: all 0.3s ease-in;
	@include background;

	@media screen and (max-width: 650px) {
		height: 336px;
		width: 224px;
	}

	@media screen and (max-width: 340px) {
		height: 240px;
		width: 160px;
	}
}
