<main-section>
	<section class="section">
		<h1 class="header">Новости</h1>

		<button class="btn-block" *ngIf="authority === 'admin'" (click)="onAdd()">
			Добавить новость
		</button>

		<div
			class="wrapper"
			infiniteScroll
			[infiniteScrollDistance]="1"
			[infiniteScrollThrottle]="1000"
			[fromRoot]="true"
			[infiniteScrollContainer]="'body'"
			(scrolled)="onScroll()"
		>
			<div class="news-wrapper" *ngFor="let item of scrollingNews">
				<div class="news" (click)="toOneNews(item.id)">
					<h3 class="header-3">{{ item.title }}</h3>
					<div
						class="news-content"
						[style.backgroundImage]="'url(' + imgUrl + item.imageName + ')'"
					>
						<div class="news-content__overlay"></div>
						<p>{{ item.text }}</p>
					</div>
				</div>
				<mat-icon
					class="btn-close"
					title="Удалить"
					*ngIf="authority === 'admin'"
					(click)="deleteNews(item)"
				>
					clear
				</mat-icon>
			</div>
		</div>

		<!-- spinner -->
		<spinner *ngIf="isSpinning"></spinner>
	</section>
</main-section>
