<!-- sidebar -->
<app-sidebar></app-sidebar>

<main [class.slide]="shouldSlide">
	<!-- toolbar -->
	<app-toolbar></app-toolbar>

	<!-- content -->
	<section class="section">
		<h1 class="header">Новости</h1>

		<button class="btn-block" *ngIf="authority === 'admin'" (click)="onAdd()">
			Добавить новость
		</button>

		<div class="wrapper">
			<div class="raw-wrapper" *ngFor="let item of news">
				<div class="news" (click)="toOneNews(item.id)">
					<h3>{{ item.title }}</h3>
					<div
						class="news-content"
						[ngStyle]="{ 'background-image': 'url(' + imgUrl + item.imageName + ')' }"
					>
						<div class="overlay"></div>
						<p>{{ item.text }}</p>
					</div>
				</div>
				<mat-icon
					class="btn-close"
					title="Удалить"
					*ngIf="authority === 'admin'"
					(click)="deleteNews(item)"
				>
					clear
				</mat-icon>
			</div>
		</div>
	</section>
</main>
