<div class="auth">
	<h1 class="header">Восстановление пароля</h1>

	<form [formGroup]="formGroup" (ngSubmit)="formGroup.valid && onSubmit()">
		<!-- new -->
		<div class="form-group">
			<input
				class="input-text"
				type="password"
				placeholder="Пароль"
				formControlName="password"
				[class.invalid]="password.invalid && password.touched"
			/>
			<p *ngIf="password.errors?.minlength && password.touched" class="text-warning">
				Пароль не должен быть короче 6 символов
			</p>
		</div>

		<!-- confirm -->
		<div class="form-group">
			<input
				class="input-text"
				type="password"
				placeholder="Подтверждение пароля"
				formControlName="confirmPassword"
				[class.invalid]="confirmPassword.invalid && confirmPassword.touched"
			/>
			<p *ngIf="confirmPassword.errors?.mustMatch && confirmPassword.touched" class="text-warning">
				Пароли должны совпадать
			</p>
		</div>

		<div class="success" *ngIf="isSuccessful">
			<p>Пароль был успешно изменен. <a routerLink="/signin" class="link">Войти</a></p>
		</div>

		<div class="warning" *ngIf="isFailed">
			<p class="text-warning">
				Неверный токен
			</p>
		</div>

		<button type="submit" class="btn-block" [disabled]="formGroup.invalid && formGroup.touched">
			Отправить
		</button>
	</form>
</div>
