<div id="sidebar" [class.sidebar-active]="isToggleActive">
	<div class="sidebar-profile">
		<div
			class="avatar"
			[style.backgroundImage]="avatar ? 'url(' + avatarUrl + ')' : defaultAvatar"
		></div>
		<h3 class="header-3">{{ fullname }}</h3>
	</div>

	<ul>
		<li>
			<a routerLink="/articles" routerLinkActive="link-active">
				<mat-icon>ballot</mat-icon>
				Статьи
			</a>
		</li>
		<li>
			<a routerLink="/schedule" routerLinkActive="link-active">
				<mat-icon>event_note</mat-icon>
				Расписание
			</a>
		</li>
		<li>
			<a routerLink="/books" routerLinkActive="link-active">
				<mat-icon>bookmark</mat-icon>
				Библиотека
			</a>
		</li>
		<li>
			<a routerLink="/quizzes" routerLinkActive="link-active">
				<mat-icon>emoji_events</mat-icon>
				Тесты
			</a>
		</li>
	</ul>
</div>
