<div id="sidebar" [class.sidebar-active]="isToggleActive" (clickOutside)="closeToggle()">
	<button mat-mini-fab title="Меню" class="toggle-btn" (click)="toggle()">
		<mat-icon>menu</mat-icon>
	</button>

	<ul>
		<li>
			<a routerLink="/news" routerLinkActive="link-active">
				<mat-icon>ballot</mat-icon>
				Новости
			</a>
		</li>
		<li>
			<a routerLink="/schedule" routerLinkActive="link-active">
				<mat-icon>event_note</mat-icon>
				Расписание
			</a>
		</li>
		<li>
			<a routerLink="/books" routerLinkActive="link-active">
				<mat-icon>bookmark</mat-icon>
				Библиотека
			</a>
		</li>
		<li>
			<a routerLink="/quizzes" routerLinkActive="link-active">
				<mat-icon>emoji_events</mat-icon>
				Тесты
			</a>
		</li>
	</ul>
</div>
