@import 'utilities/variables';
@import 'utilities/mixins';

.calendar {
	width: 100%;
	padding: 15px 20px 15px 20px;
	border: 1px solid #f1f1f1;
	@include block;

	table {
		width: 100%;
		height: 280px;
		border-collapse: collapse;

		th,
		td {
			text-align: center;
		}

		th {
			font-size: 1.1rem;
			font-weight: 400;
			color: $greyColor;
		}

		td {
			border-radius: 10px;
			transition: all 0.2s;
			font-size: 1.2rem;
			font-weight: 500;
			color: $darkColor;

			.selected {
				color: $blueColor;
			}

			&.disabled {
				pointer-events: none;
				color: #f0f0f0;
			}

			&:hover:not(.disabled) {
				background: #f1f1f1;
				cursor: pointer;
			}
		}
	}

	@media screen and (max-width: 900px) {
		table {
			height: 240px;
		}
	}

	@media screen and (max-width: 740px) {
		table {
			height: 280px;
		}
	}

	@media screen and (max-width: 440px) {
		table {
			height: 240px;
		}
	}
}

.selector {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: auto;
	padding-bottom: 14px;
	margin-bottom: 15px;
	@include block-line;

	h3 {
		font-size: 1.2rem;
	}
}

.selector__button {
	cursor: pointer;
	color: #8f8f8f;
	@include icon;
}
