<div id="toolbar">
	<!-- toggle -->
	<div class="toggle">
		<button mat-mini-fab title="Меню" class="toggle-btn" (click)="toggle()">
			<mat-icon>menu</mat-icon>
		</button>
	</div>

	<!-- logo -->
	<div class="logo">
		<a routerLink="/">student</a>
	</div>

	<!-- dropdown -->
	<div class="dropdown" (clickOutside)="closeOptions()">
		<div class="dropdown-select" [class.active]="showOptions" (click)="show()">
			<div
				class="avatar"
				[style.backgroundImage]="avatar ? 'url(' + avatarUrl + ')' : defaultAvatar"
			></div>
			<p>Профиль</p>
			<mat-icon>expand_more</mat-icon>
		</div>
		<div *ngIf="showOptions" class="dropdown-content">
			<a routerLink="/settings">Настройки</a>
			<a (click)="logout()">Выйти</a>
		</div>
	</div>
</div>
