@import 'utilities/variables';
@import 'utilities/mixins';

#toolbar {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 50px;
	background: rgba(255, 255, 255, 0.98);
	padding-right: 20px;
	padding-left: 20px;
	z-index: 3;
}

.toggle {
	width: 150px;
	padding-top: 10px;
}

.toggle-btn {
	display: none;
	cursor: pointer;
	color: $darkColor;
	font-size: 28px;
	@include icon;

	@media screen and (max-width: 1200px) {
		display: block;
	}
}

.logo {
	display: block;
	font-family: 'Poppins';
	font-weight: 700;
	font-size: 28px;
	margin-top: 2px;

	a {
		color: $darkColor;
		transition: opacity 0.2s linear;

		&:hover {
			opacity: 0.8;
		}
	}

	@media screen and (max-width: 480px) {
		display: none;
	}
}

.dropdown {
	display: flex;
	justify-content: center;
	width: 150px;
	position: relative;
	font-size: 0.9rem;
}

.dropdown-select {
	height: 50px;
	display: flex;
	align-items: center;
	color: $darkColor;
	padding: 10px;
	cursor: pointer;

	mat-icon {
		@include icon;
	}

	&:hover {
		background: #f9f9f9;
	}

	&.active {
		background: #f9f9f9;
	}
}

.dropdown-content {
	top: 50px;
	right: 0;
	position: absolute;
	background-color: #f9f9f9;
	width: 100%;
	z-index: 4;

	a {
		padding: 10px;
		display: block;
		color: inherit;

		&:hover {
			background: #f1f1f1;
		}
	}
}

.avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	margin-right: 10px;
	border: 1px solid #f1f1f1;
	@include background;
}
